.wrap-default-layout {
    margin-left: 69px;
}

@media (min-width: 700px) {
    .wrap-default-layout {
        margin-left: 74px;
    }
}

@media (min-width: 1025px) {
    .wrap-default-layout {
        margin-left: 270px;
    }
}
