.active-link {
  color: #3498db;
}

.size-icon {
  height: 22px;
  width: 22px;
}

#side-bar {
  position: fixed;
  top: 0;
  width: var(--navbar-width-min);
  height: 100vh;
  min-height: 100vh;
  background: var(--navbar-dark-primary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color: var(--navbar-light-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  user-select: none;
  z-index: 50;
}

#nav-header {
  position: relative;
  width: var(--navbar-width-min);
  left: 16px;
  width: calc(var(--navbar-width) - 16px);
  min-height: 40px;
  background: var(--navbar-dark-primary);
  border-radius: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: width 0.2s;

  hr {
    position: absolute;
    bottom: 0;
  }
}

#nav-title {
  font-size: 1.5rem;
  transition: opacity 1s;
}

#nav-content {
  margin: -16px 0;
  padding: 16px 0;
  position: relative;
  flex: 1;
  width: var(--navbar-width);
  background: var(--navbar-dark-primary);
  box-shadow: 0 0 0 16px var(--navbar-dark-primary);
  direction: rtl;
  overflow-x: hidden;
  transition: width 0.2s;

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #d62929;
  }

  &::-webkit-scrollbar-button {
    height: 16px;
  }
}

#nav-content-highlight {
  position: absolute;
  left: 16px;
  top: -54 - 16px;
  width: calc(100% - 16px);
  height: 54px;
  background: var(--background);
  background-attachment: fixed;
  border-radius: 16px 0 0 16px;
  transition: top 0.2s;

  &:before,
  &:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 16px 16px var(--background);
  }

  &:after {
    top: 100%;
    box-shadow: 16px -16px var(--background);
  }
}

.nav-button {
  position: relative;
  margin-left: 0px;
  height: 54px;
  display: flex;
  align-items: center;
  direction: ltr;
  z-index: 1;
  transition: color 0.2s;

  span {
    transition: opacity 1s;
  }

  .fas {
    transition: min-width 0.2s;
  }
}

#side-bar .fas {
  min-width: 3.8rem;
  text-align: center;
}

#nav-footer {
  position: relative;
  width: var(--navbar-width);
  height: 54px;
  background: var(--navbar-dark-secondary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition:
    width 0.2s,
    height 0.2s;
}

#nav-footer-heading {
  position: relative;
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
}

#nav-footer-avatar {
  position: relative;
  margin: 11px 0 11px 16px;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  transform: translate(0);
  transition: 0.2s;

  img {
    height: 100%;
  }
}

#nav-footer-titlebox {
  position: relative;
  margin-left: 16px;
  width: 10px;
  display: flex;
  flex-direction: column;
  transition: opacity 1s;
}

@media (min-width: 1280px) {
  #side-bar {
    width: var(--navbar-width);

    .nav-button {
      margin-left: 16px;

      .fas {
        min-width: 4rem;
      }
    }
  }

  #nav-header {
    min-height: 80px;
  }

  #nav-content {
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
  }

  .nav-button {
    span {
      transition: opacity 1s;
    }

    .fas {
      transition: min-width 0.2s;
    }

    @for $i from 1 through 10 {
      &:nth-of-type(#{$i}):hover {
        color: var(--navbar-dark-primary);

        & ~ #nav-content-highlight {
          top: ($i - 1) * 54 + 16px;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  #side-bar {
    width: var(--navbar-width);
  }
}
